<div class="px-8 py-10 bg-gray-100 border border-gray-200 space-y-8 {{ settings:corner_style }}">
    <div>
        <h3 class="font-serif text-3xl xl:text-4xl">{{ title }}</h3>
        <p class="mt-4 text-sm font-medium xl:text-base">{{ description }}</p>
    </div>
    <ul class="space-y-3">
        {{ features }}
            <li class="flex items-center text-sm font-medium gap-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                  </svg>
                {{ value }}
            </li>
        {{ /features }}
    </ul>
    <div>
        <div class="text-xs font-medium">{{ trans key="From" }}</div>
        <div class="mt-0.5 text-2xl">${{ price }}</div>
    </div>
</div>
